NODE_ENV=development
PORT=3001
API_PREFIX=api/v1
CORS_ORIGIN=http://localhost:3000
APP_BASE_URL=http://localhost:3000
API_PUBLIC_URL=http://localhost:3001

DATABASE_URL=postgresql://school:school@localhost:5432/school_db?schema=public

JWT_SECRET=change-me-must-be-at-least-32-characters-long
JWT_EXPIRATION=24h

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MP_SANDBOX=true
MP_DEV_SIMULATE=false

CRON_SECRET=change-me-cron-secret
